.events {
  padding-top: 110px;
  padding-bottom: 100px;
  padding-left: 75px;
  &__content {
    position: relative;
    // padding-left: 75px;
    &:before {
      content: url('../img/brush_both.png');
      position: absolute;
      right: -24px;
      top: -33px;
    }
    &:after {
      content: url('../img/sandwich-plate.png');
      position: absolute;
      top: -101px;
      right: 4px;
    }
  }
  &__item {
    max-width: 522px;
    position: relative;
    z-index: 10;
    background: rgba(255, 255, 255, 0.5);
  }
  &__suptitle {
    padding-left: 3px;
    @include sup-title-style;
  }
  &__title {
    @include h3-title-style;
    margin-bottom: 32px;
    text-transform: capitalize;
  }
  &__text {
    margin-bottom: 26px;
  }
  &__navbar,
  &__dots {
    .owl-dot {
      display: inline-block;
      padding: 0;
      border: none;
      margin-left: 3px;
      &:first-child {
        margin-left: 0;
      }
      span {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: $navDotBg;
        display: block;
        transition: all 0.3s ease-in;
      }
      &.active {
        span {
          background: $navDotBgActive;
        }
      }
      &:focus {
        outline: none;
      }
      &:hover {
        background: none;
        span {
          background: $navDotBgActive;
        }
      }
    }
  }
}
