$primaryColor: #3B3B3B;
$primaryBgColor: #ffffff;
$titleColor: #FF4958;
$linksHoverColor: #FF7F50;
$btnBorderColor: #FFDBA9;
$feastbg: #191919;
$navDotBg: #DDDDDD;
$navDotBgActive: #FFAF42;
$inputBorderColor: #bebebe;
$phoneColor: #DBAC53;

$slickMenuBg: rgba(255, 73, 88, 0.5);

$fontPrimary: 'Playfair Display', serif;
$fontGabelisa: 'Gabelisa';
$priceFont: serif;
$fsH1Title: 115px;
$fsH2title: 100px;
$fsH3title: 62.5px;
$fsH4title: 33.33px;
$fsH5title: 29px;
$fsH6title: 25px;
$fsPrimary: 20.83px;
$fsLinks: 16.67px;
$linksColor: #ffffff;
$lhPrimary: 1.6;

$inputBtnBorderRadius: 5px;

$screen-large: 1024px;
$screen-medium: 638px;
$screen-small: 450px;
